@import 'base/variables';
@import 'base/mixins';
@import 'base/modificators';
<<<<<<< HEAD
@import 'base/slick-dots';
=======
>>>>>>> 4811025857fdafd1619c346d4bcb0aa1f189cf11

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
<<<<<<< HEAD
@import 'blocks/reviews';
=======
>>>>>>> 4811025857fdafd1619c346d4bcb0aa1f189cf11

@import 'media/media';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}
